<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
    xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=unicode">

    <title>Azure Service Health report</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

</head>

<body>
    <div id="d2" style="margin: 3rem;">

        <div class="dbl-lined-header">
            <h2>Azure Service Health Report</h2>
            <small>Generated on {{generatedOn}} with {{itemCount}} events</small>
            <p>&nbsp;</p>
        </div>	

        <table class="pure-table pure-table-horizontal" style="font-size: 14px;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Event&nbsp;Type</th>
                    <th>Summary</th>
                    <th>End&nbsp;Time</th>
                </tr>
            </thead>
            <tbody >
                {{#each items}}
                    <tr >
                        <td>{{issue.trackingId}}</td>
                        <td>{{issue.eventType}}</td>
                        <td>
                            <p>&nbsp;</p>
                            {{{issue.summary}}}

                            {{#if resources.length}}
                            <p>&nbsp;</p>
                            <table class="pure-table pure-table-horizontal" style="font-size: 11px;">
                                <thead>
                                    <tr>
                                        <th>Impacted&nbsp;resource</th>
                                        <th>Type</th>
                                        <th>Resource&nbsp;group</th>
                                        <th>Subscription&nbsp;ID</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    {{#each resources}}
                                        <tr >
                                            <td>{{name}}</td>
                                            <td>{{type}}</td>
                                            <td>{{resourceGroup}}</td>
                                            <td>{{subscriptionId}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <p>&nbsp;</p>
                            {{/if}}

                            {{#if subscriptions.length}}
                            <p>&nbsp;</p>
                            <table class="pure-table pure-table-horizontal" style="font-size: 11px;">
                                <thead>
                                    <tr>
                                        <th>Impacted&nbsp;subscription</th>
                                        <th>ID</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    {{#each subscriptions}}
                                        <tr >
                                            <td>{{name}}</td>
                                            <td>{{id}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <p>&nbsp;</p>
                            {{/if}}

                            {{portalLink "View details in Azure Portal" issue.eventType}}
                            <p>&nbsp;</p>

                        </td>
                        <td>{{formatDate issue.impactMitigationTime}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>   
    </div>

</body>

</html>